# Copyright (c) 2025 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_OTA
	bool "Realtek BLE OTA"
    select REALTEK_DFU
	default n

module = REALTEK_OTA
module-str = "REALTEK OTA"
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

if REALTEK_OTA

choice OTA_MODE
	prompt "BLE OTA mode Selection"
	default SILENT_MODE
	help
	  Select the BLE OTA mode.

config SILENT_MODE
	bool "silent mode"

config NORMAL_MODE
	bool "normal mode"

endchoice

endif

config REALTEK_DFU
    bool "Realtek DFU"

module = REALTEK_DFU
module-str = "REALTEK DFU"
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"