# Copyright (c) 2025 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config APP_LOG_LEVEL
	int
	default 4

config BT_DEVICE_NAME
	string "device name"
	default "Voice demo"

module = VOICE_DEMO
module-str = app
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
