#include <zephyr/dt-bindings/gpio/realtek-rtl87x2g-gpio.h>

/ {
    chosen {
        voice,console = &uart3;
    };

    test_pin: test_pin {
        compatible = "voice,test-pin";
        test-pin1 = <&gpioa 10 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
        test-pin2 = <&gpioa 4 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
        test-pin3 = <&gpiob 22 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
        test-pin4 = <&gpiob 21 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
    };
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&uart3 {
	pinctrl-0 = <&uart3_default>;
	pinctrl-1 = <&uart3_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
	current-speed = <2000000>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&uart2 {
	pinctrl-0 = <&uart2_default>;
	pinctrl-1 = <&uart2_sleep>;
	pinctrl-names = "default", "sleep";
	status = "okay";
	current-speed = <2000000>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&i2s0 {
	dmas = <&dma0 0 41 0x26a1>, <&dma0 1 42 0x648a>;
	dma-names = "tx", "rx";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-names = "default";

	status = "okay";
	codec: codec@0 {
		compatible = "realtek,rtl87x2g-codec";
		reg = <0>;
		channel-sequence = "l_r";
		mic-bias = "1_8";
		mic-bst-gain = "30dB";
		mic-bst-mode = "differential";
		mic-type = "amic";
		dmic-data-latch = "rising_latch";
		ad-gain = <0x2f>;
		boost-gain = "0dB";
		pinctrl-0 = <&codec_default>;
		pinctrl-names = "default";
        status = "okay";
	};
};

&dma0 {
 	status = "okay";
};

/* USB audio mic for PPT slave (dongle) role */
zephyr_udc0: &usb {
	status = "okay";
};

&zephyr_udc0 {
	mic_0: mic_0 {
		compatible = "usb-audio-mic";
		feature-mute;
		channel-l;
	};
};

&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            psels = <RTL87X2G_PSEL(BCLK_SPORT0, P5_7, DIR_OUT, DRV_LOW, PULL_NONE)>,
             <RTL87X2G_PSEL(SDI_CODEC_SLAVE, P2_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
             <RTL87X2G_PSEL(SDO_CODEC_SLAVE, P4_3, DIR_OUT, DRV_LOW, PULL_NONE)>;
        };
    };
    codec_default: codec_default {
        group1 {
            psels = <RTL87X2G_PSEL(PWR_OFF, MICBIAS, DIR_OUT, DRV_HIGH, PULL_NONE)>,
             <RTL87X2G_PSEL(PWR_OFF, P2_6, DIR_OUT, DRV_HIGH, PULL_NONE)>,
             <RTL87X2G_PSEL(PWR_OFF, P2_7, DIR_OUT, DRV_HIGH, PULL_NONE)>;
        };
    };
    uart2_sleep: uart2_sleep {
		group1 {
			psels = <RTL87X2G_PSEL(SW_MODE, P3_0, DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SW_MODE, P3_1, DIR_IN, DRV_HIGH, PULL_UP)>;
		};
	};
	uart3_default: uart3_default {
		group1 {
			psels = <RTL87X2G_PSEL(UART3_TX, P3_1, DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(UART3_RX, P3_3, DIR_IN, DRV_HIGH, PULL_UP)>;
		};
	};
	uart3_sleep: uart3_sleep {
		group1 {
			psels = <RTL87X2G_PSEL(SW_MODE, P3_1, DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SW_MODE, P3_3, DIR_IN, DRV_HIGH, PULL_UP)>;
		};
	};
};