/* Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

&flash {
	partitions {
		/delete-node/ partition@2d000;
		/delete-node/ partition@fc000;

		app_partition: partition@2d000 {
			label = "app-image";
			reg = <0x2D000 DT_SIZE_K(812)>;
		};
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0xF8000 DT_SIZE_K(32)>;
		};
	};
};

&ieee802154 {
	status = "okay";
};

/ {
	chosen {
		zephyr,ieee802154 = &ieee802154;
	};
};
